body {
    background-color: darkgreen;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pianoTable {
    background-color: black;
    width: 80vw;
    height: 40vw;
    display: flex;
    align-items: flex-end;
}

.blackKeysLayer {
    display: flex;
    position: absolute;
    padding-left: 0.75vw;
}

.whiteKeysLayer {
    display: flex;
}

.key {
    position: relative;
    background-color: white;
    width: 2vw;
    height: 8vw;
    border: 1px solid black;
}

.blackKey {
    background-color: deeppink;
    width: 1vw;
    height: 5vw;
    margin-bottom: 3vw;
    margin-left: 1vw;
    border: 1px solid black;
}