.navigation {
    display: flex;
    justify-content: space-around;
    position: absolute;
    z-index: 1;
    top: 0;
    color: white;
    width: 100%;
    height: 50%;
    align-items: end;
    padding-bottom: 10px;
}

.signatures-toggle {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.signature-button {
    font-size: 1vw;
    cursor: pointer;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    border-color: #7c7c7c;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.34)), to(#e6e6e6));
    padding: 0;
}

/*SLIDER*/

.volume-change {
    display: flex;
    align-items: center;
    width: 30%;
}

.volume-change span {
    margin-right: 1vw;
}

.volumeSlider.MuiSlider-root {
    color: grey;
    width: 15vw;
}


.record {
    display: flex;
    align-items: center;
}

.record span {
    padding-right: 10px;
}
.record-button {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-color: #7c7c7c;
    background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
}
